/* <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access -->
<!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access -->
<!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access -->
<!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> */





   /* <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access -->
<!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access -->
<!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access -->
<!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> <!-- this after need access --> */



body {
  background-image: url();
 
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .container-fluid{
    width: 300px;
    position: relative;
    left: 1px;
    margin-left: 0;
    padding: 20px;
  }
 
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

body {
  
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.marginnn{
  margin-bottom: 5rem;
}
.container.gay{
  background-image: url(back.jpg);
}
.text-start{
  color:aliceblue;
  text-shadow: 4 .054rem 4.1rem rgba(1, 2, 0, 10);
  
}
.shadow_gay{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid{
  width: 450px;
  position: relative;
  right: 200px;
  
}
.header{
  padding-top: 50px;
  background-color: #5a5a5a;
  padding-bottom: 50px;
  margin-bottom: 40px;
  background-image: url(accessit.jpg);
  background-size: 1349px 500px;
  overflow-x: hidden;
 
}


.col-lg-4{
  opacity: 0;
  transform: translateY(10%);
  transition-duration: .4s;
}

.text_anima{
  opacity: 0;
  transform: translateY(10%);
  transition-duration: .4s;

}
.show-text{
  transform: translateY(0);
  opacity: 1;
}
.col-lg-4{
  border: #5a5a5a groove;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
  .side{
    padding-left: 10px; 
    padding-right: 10px;
  }
  .fw-normal.main{
    margin-bottom: -1px;
  }